Button -
Background Color
color
border
height
width
border - radius
cursor

Insted of setting width and height, Padding - to add space inside
Margin - add space on the outside

Vertical-align - to allign the content in line

transition: #what is changing and event; #can add multiple features

we call the class by attribute.class{} or .class{}
we call an id by #id

.class_name:#required action hover or click{} - hover, click styles etc

Text:
font-family, style - # self explanatory
text-align - alignment
line-height - spacing
text-decoration - edit style of text
margin-left - to add space

if we assign style in basic common section, and same in class - class style will overide it

Image:
object-fit: 
object-position: ;

<link rel="stylesheet" href=""> -link css page to HTML page

class1,class2{} - apply similar features

CSS- Display Property - switch between block and inline block
display: inline-block;

imline css - can write css code in any sentences #hard to read

CSS Grid:
Helps us create perfectly aligned layouts
- style in div
- style = "dislay:grid;"
grid-template-columns: 100px 100px; # says the no. of columns a grid has and it's width
by using this div also won't takeup whole line - so display is not required
maintain allignment
have wraping property - wraps to next column - if we have more elemets
fr - free space- takes remaining space
column-gap: gap bn all clmns


